<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.fouramgames.monsieurmoustache" android:versionCode="2" android:versionName="1.1.0" android:installLocation="preferExternal">
	
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	::if (ANDROID_PERMISSIONS != null)::::foreach ANDROID_PERMISSIONS::
	<uses-permission android:name="::__current__::" />::end::::end::
	
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>
	
	<application android:label="Monsieur Moustache" android:debuggable="false" android:icon="@drawable/icon" >
		
		<!-- for linden-google-play -->
		<meta-data
		  android:name="com.google.android.gms.version"
		  android:value="@integer/google_play_services_version" />
		<meta-data
		  android:name="com.google.android.gms.games.APP_ID"
		  android:value="@string/app_id" />
		<meta-data
		  android:name="com.google.android.gms.appstate.APP_ID"
		  android:value="@string/app_id" />
		<!-- / -->
		
		<activity android:name="com.fouramgames.monsieurmoustache.MainActivity" android:launchMode="singleTask" android:label="Monsieur Moustache" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:screenOrientation="sensorPortrait" >
			
			<intent-filter>
				
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="tv.ouya.intent.category.GAME" />
				
			</intent-filter>
			
		</activity>
		
		<activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"></activity>
		
	</application>
	
</manifest>
